body{    
    margin: 0px;
    padding: 0px;
    width: 100%;
}
html, body {
    overflow-x: hidden;
    margin: auto;
    font-family: 'Roboto Serif', sans-serif;

  }
header {
    background-color: rgb(25, 25, 34);
    text-align: center;
    padding: 15px;
    color: white;
    width: 100%;
    margin: auto;  
}
h1 {
    text-transform: uppercase;
}
.container {
    color: rgb(110, 109, 109);
    padding: 5%;
}
h2 {
    font-weight: bold;
    color: rgb(41, 35, 35);
    text-align:left;
    margin: auto;
    padding-top: 30px;
    font-size: 1.1em;
}
.before {
    height: auto;
    width: 90%;
    border-top: 5px solid #3a3535;
    border-bottom: 3px solid #3a3535;
    padding: 2.5px;
    }
.bottom {
    border-top: 2px solid #3a3535;
    width: 90%;
}
.top-form label {
    display: block;
    padding: 5px 15px 30px 5px;
    height: 0px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
    border: none;
}
.p-1 {
    padding: 5px 20px 5px 20px;
    text-align: center;
    font-size: 13px;
}
.signup {
    text-align: center;
}
.top-form input {
    width: 88%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(245, 238, 238);
    border: none;
    font-size: 13px;
    color: gray;
}
input {
    text-align: right;
    transition-duration: .5s;
}
fieldset {
    border: none;
}
input:focus {
    text-align: left;
    padding: 15px;
}
.top-form select {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(245, 238, 238);
    border: none;
    color: gray;
    font-size: 13px;
}
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }
.zipcode {
    width: 50%;
}
textarea {
    width: 88%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(245, 238, 238);
    border: none;
    font-size: 13px;
    color: gray;
    text-align: left;
    font-family: 'Roboto Serif', sans-serif;
}
.news {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}
textarea {
    overflow: auto;
    text-align: start;
}
.news-label {
    margin-top: 20px;
}
.last {
    text-align: center;
    margin-top: 20px;
}
button {
    width: 100%;
    background: rgb(73, 216, 209);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
}
.copy {
    font-style: italic;
    text-align: center;
}
textarea {
    width: 98%;
    height: 100px;
    padding: 10px 5px 5px 5px;
    text-align: left;
    padding-left: 1px;
    padding-bottom: 0.4em;
    padding-right: 0.4em;
    border:0;
    margin-left: 0%;
    font-family: 'Roboto Serif', sans-serif;
}
.fset {
    border: none;
    margin-left: 0%;
}
.ta {
    margin-left: 0%;
}
.news input[type=checkbox] + label{
    font-weight:normal;
    color: gray;
  }
  
.news input[type=checkbox]:checked + label{
    color:black;
}
.news2 input[type=radio] + label{
    font-weight:normal;
    color: gray;
  }
  
.news2 input[type=radio]:checked + label{
    color:black;
}
.fset legend {
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(41, 35, 35);
    padding-top: 30px;
}
input[type=text]:focus {
    border-radius: 4px;
}
.news2 {
    padding-top: 4px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 13px;

}
#zipcode {
    width: 45%;
}

@media screen and (min-width: 768px) {

    .container {
        width: 50%;
        margin: auto;
        padding: 50px;
        margin-bottom: 10%;
    }
    .input-section {
        display: flex;
        margin-top: 2%;
        margin-bottom: 1%;
    }
    .zipcode {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 42%;  
        margin-left: 0%;
        margin-bottom: 0%;
    }
    #zipcode {
        width: 24%;
        margin-left: 20%;
        margin-bottom: 5%;
        margin-top: 0%;
    }
    .top-form input {
        width: 340%;
        margin-left: 0%;
        margin-bottom: 0%;
    }
    .info {
        text-align: left;
        width:100%;
    }
    .top-form select{
        width: 348%;
        margin-bottom: 1%;

    }
    textarea {
        width: 102%;
        height: 100px;
        text-align: left;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 0.4em;
        padding-right: 0.4em;
        border:0;
        margin-left: 0%;
    }
    h2 {
        padding: 12px 0px 10px 0px;
    }
    button {
        width: 103%;
    }
    .signup {
        font-size: 1.4rem;
        margin-bottom: -4%;        
    }
    .p-1 {
        margin-bottom: 5%;
    }
    .fset {
        border: none;
        margin-left: 0%;
    }
    .ta {
        margin-left: 0%;
    }
    .news input[type=checkbox] + label{
        font-weight:normal;
        color: gray;
      }
      
    .news input[type=checkbox]:checked + label{
        color:black;
    }
    .news2 input[type=radio] + label{
        font-weight:normal;
        color: gray;
      }
      
    .news2 input[type=radio]:checked + label{
        color:black;
    }
    .bottom {
        border-top: 2px solid #3a3535;
        width: 94%;
    }
    .before {
        height: auto;
        width: 93%;
        border-top: 5px solid #3a3535;
        border-bottom: 3px solid #3a3535;
        padding: 2.5px;
    }
    input[type=text]:focus {
        border-radius: 4px;
    }
     
}